<app-divider>
  Placeholder Component
</app-divider>
<app-placeholder></app-placeholder>

<br>
<app-divider>
  Segment Component
</app-divider>
<app-segment>
  <!-- Use template <header> -->
  <header>
    <i class="pdf file outline icon"></i>
    No documents are listed for this customer.
  </header>

    <!-- Use class -->
    <!-- <div class="icon-header">
      <i class="pdf file outline icon"></i>
      No documents are listed for this customer.
    </div> -->

    <!-- Use attribute selector -->
    <!-- <div iconHeader>
      <i class="pdf file outline icon"></i>
      No documents are listed for this customer.
    </div> -->

  <button class="ui primary button">
    Add Document
  </button>
</app-segment>

<!-- Customise Segment's elements -->
<app-segment>
  <header>
    <i class="add icon"></i>
    Add a resourcer.
  </header>
  <button class="ui primary button">
    Click to add
  </button>
</app-segment>

<!-- No header -> header: display none -->
<app-segment>
  <!-- <header> ... </header> -->
  <button class="ui primary button">
    Click to add
  </button>
</app-segment>
